* {
  margin: 0;
  padding: 0;
  font-family: akira;
  line-height: 1.6;
  text-align: center;
  overflow: hidden;
}

a {
  text-decoration: none; /* Remove underline */
  color: ivory; /* Change text color to black (replace #000 with the color of your choice) */
}

.noiseoverlay {
  margin: 0;
  position: absolute;
  z-index: 30;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#left {
  border-right-width: 1px;
  border-right-style: solid;
  float: left;
  width: 50vw;
  height: 100%;
  overflow: scroll;
  /* background-color: rgb(27, 28, 27); */
  background-color: rgb(187, 223, 247);
  color: ivory;
}

#right {
  flex-grow: 1;
  flex-shrink: 1;
  float: left;
  width: 50vw;
  height: 100%;
  overflow: scroll;
  background-color: ivory;
  color: rgb(242, 200, 198);
}

@font-face {
  font-family: akira;
  src: url(Basteleur-Bold.otf);
}

h1 {
  font-size: 60px;
  margin: auto;
  padding: 20px 20px 20px 20px;
  letter-spacing: 0.5em;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin: auto;
  padding: 20px 20px 0px 20px;
}

.img {
  width: 150px;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.img .text {
  visibility: hidden;
  background-color: none;
  text-align: center;
  position: relative;
}

.img:hover .text {
  visibility: visible;
}
