body {
  font-family: "Playfair Display", serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url(./Week5/images/page1/glitchbackground.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack elements vertically */
}

.top-left-content p {
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  left: 20px; /* Adjust left position as needed */
  color: white;
  writing-mode: vertical-lr;
  font-size: 18px;
  text-orientation: upright;
  text-decoration: underline;
  z-index: 2; /* Place the text above the image and other overlays */
}

.top-left-content h1 {
  position: absolute;
  top: 150px; /* Adjust top position as needed */
  left: 300px; /* Adjust left position as needed */
  color: white;

  font-size: 30px;

  z-index: 2; /* Place the text above the image and other overlays */
}

.top-left-content h3 {
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  left: 100px; /* Adjust left position as needed */
  color: white;

  font-size: 18px;

  z-index: 2; /* Place the text above the image and other overlays */
}
.top-left-content h2 {
  position: absolute;
  top: 90px; /* Adjust top position as needed */
  left: 200px; /* Adjust left position as needed */
  color: white;
  font-size: 15px;
  z-index: 2; /* Place the text above the image and other overlays */
}
.top-right-content {
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  left: 1050px; /* Adjust left position as needed */
  color: white;

  font-size: 18px;
  z-index: 2; /* Place the text above the image and other overlays */
}

.image-row {
  display: flex;
  flex-direction: row; /* Arrange images horizontally */
  justify-content: center;
  align-items: flex-end; /* Align items to the bottom */
  margin-top: 20px; /* Add margin for spacing between images and text */
}
/* 
.image-row img {
  width: 300px;
  border-radius: 40px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
} */

.container img.center {
  width: 300px;
  border-radius: 40px;
  /* padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 4; /* Lower z-index to place it below the link */
}

/* Style for the text */
.overlay-text h1 {
  color: rgb(255, 255, 255); /* Adjust the text color as needed */
  font-size: 80px; /* Adjust the font size as needed */
  filter: drop-shadow(2px 3px 3px #070707);
}

.top_ani {
  animation-duration: 3s;
  animation-name: topslide;
  animation-timing-function: ease;
}

@keyframes topslide {
  from {
    transform: translateY(-100%);
    /* You can also add opacity animation if needed */
  }
  to {
    transform: translateY(0%);
  }
}
