* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 200px;
  background-color: #131313;
  background-image: url(/2023FallCoreLab/Week5/images/page6/glitchbackground.png);
  font-family: verdana;
}

.container {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100vh; */
  padding-top: 8%;

  /* transition: 0.5s; */
}

.noiseoverlay {
  /* margin: 0;
      position: absolute;
      z-index: 30;
      height: 100vh;
      width: 100%;
      mix-blend-mode: overlay;
      pointer-events: none; */

  position: fixed; /* Change 'absolute' to 'fixed' for full viewport coverage */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  mix-blend-mode: overlay;
  pointer-events: none;
  object-fit: cover; /* Ensure the image covers the entire container */
}

h1 {
  text-align: center;
  padding-bottom: 65px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.gallery {
  width: 1000px;
  margin: 0 auto;

  position: relative;
}

.gallery__photo {
  width: 250px;
  height: 250px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 2px;

  position: absolute;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 20px;
}

.gallery__photo--p1 {
  top: 0;
  left: 0;
}

.gallery__photo--p2 {
  top: 0;
  right: 0;
  z-index: 1;
}

.gallery__photo--p3 {
  top: 40px;
  left: 20%;
}

.gallery__photo--p4 {
  top: 60px;
  left: 40%;
}

.gallery__photo--p5 {
  top: 40px;
  left: 60%;
  z-index: 2;
}

.gallery__photo:hover {
  /* outline: 15px solid #14addc; */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
}
.gallery:hover .gallery__photo:not(:hover) {
  transform: scale(0.9);
}

.text-layout {
  width: 900px;
  height: 520px;
  margin: 50px auto;
  line-height: 2;
}
