/* second page*/

.container {
  width: 100%;
  height: 100vh;
  background-image: url(./Week5/images/page3/cctvbackground.jpg);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Add animation properties to each image */
.image-container img {
  max-width: 200px; /* Adjust the image size as needed */
  position: absolute;
  opacity: 0; /* Start with opacity at 0 (hidden) */
  transition: opacity 0.1s; /* Add a transition effect for opacity */
  animation-duration: 0.1s; /* Animation duration */
  animation-timing-function: ease-in-out; /* Animation timing function */
  animation-fill-mode: forwards;
}

/* Define individual keyframes animations for each image */
@keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay-text {
  /* display: flex; */
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh; /* You may adjust the height as needed */
}

/* Style for the text */
.overlay-text h1 {
  color: rgb(255, 255, 255); /* Adjust the text color as needed */
  font-size: 80px; /* Adjust the font size as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis;
  filter: drop-shadow(2px 3px 3px #070707);
  position: absolute;
  top: 10%; /* Adjust to position vertically */
  right: 5%; /* Adjust to position horizontally */
  width: auto;
}

.left_ani {
  animation-duration: 2s;
  animation-name: leftslide;
  animation-timing-function: ease;
}

@keyframes leftslide {
  from {
    transform: translateX(-100%);
    /* You can also add opacity animation if needed */
  }
  to {
    transform: translateX(0%);
  }
}
