body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", verdana;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(9, 9, 9);
  transition: 0.5s;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(9, 9, 9);
  transition: 1s;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  transition: 1s;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}
::placeholder {
  color: #cac7ff;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
  transition: 2s;
}
.search-bar button img {
  width: 25px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #fff;
}

h3 {
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

.pargraph {
  width: 100%;
  max-width: 1000px;
  line-height: 2.5;
}

.digit {
  font-size: 130px;
  color: #fff;
}

.txt {
  font-size: 30px;
  color: #fffcd6;
}

#buttons {
  margin-top: 50px;
}

.btn {
  width: 100px;
  padding: 10px 15px;
  margin: 0px 20px;
  border-radius: 50%;
  /* border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px; */
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  color: white;
  font-weight: 500;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
nav {
  color: white;
  list-style: none;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

li a:hover {
  color: #cac7ff;
}

i {
  font-weight: lighter;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* #start {
  background-color: #009779;
} */
/* 
#stop {
  background-color: #c6331d;
} */

/* #reset {
  background-color: #c91400;
} */
